.artwork-card {
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px; 
}
.artwork-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card-body {
    padding-bottom: 0 !important;
    flex-grow: 1;
}
.artwork-image{
    height: 180px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filterSection {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-select, .btn {
    font-size: 0.7rem; 
}