
#header-container{
    height: 120px;
}
.container_content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;

}
#content-wrapper{
    padding: 10px !important;

}

.container_content .filter{
    position: sticky ;
    border: gray solid;
    top: 120px; /* Thiết lập top để nằm dưới header */
    height:700px ; /* Đặt chiều cao full cho phần filter để nó nằm trọn màn hình */
    overflow-y: auto; /* Thêm nếu muốn cuộn nội dung bên trong filter nếu quá dài */
    background-color: #f8f9fa; /* Tùy chỉnh màu nền cho dễ nhìn */
    padding: 10px;
    overflow-y: auto;
    margin-right: 10px;
}

.artwork-card {
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px; 
}
.artwork-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card-body {
    padding-bottom: 0 !important;
    flex-grow: 1;
}
.artwork-image{
    height: 180px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filterSection {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-select, .btn {
    font-size: 0.7rem; 
}