<header id="header-container" class="fixed-top">
    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg">
            <!-- Logo -->
            <a class="navbar-brand" href="/index.html">
                <img src="\assets\images\Logo_HCMUAF.svg.png" alt="Lanvu Gallery" height="60">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                           data-bs-toggle="dropdown">GIỚI THIỆU</a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="about_us.html">Về chúng tôi </a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">TÁC PHẨM THEO CHỦ ĐỀ</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Phong cảnh</li>
                            <li class="dropdown-item">Tĩnh vật</li>
                            <li class="dropdown-item">Nhân vật</li>
                            <li class="dropdown-item">Đời sống</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">HỌA SĨ</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="painter1.html">NGUYỄN TIẾN</a></li>
                            <li><a class="nav-link" href="painter2.html">QUỲNH HOA</a></li>
                            <li><a class="nav-link" href="painter3.html">NGUYỄN THẾ NHÂN</a></li>
                            <li><a class="nav-link" href="painter4.html">NGUYỄN CHÍ NHẬT QUANG</a></li>
                            <li><a class="nav-link" href="painter5.html">PHAN ANH VŨ</a></li>
                        </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">DỊCH VỤ</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="service1.html">TƯ VẤN THIẾT KẾ TẠI NHÀ</a></li>
                                <li><a class="nav-link" href="service2.html">ĐÓNG GÓI VÀ VẬN CHUYỂN</a></li>
                                <li><a class="nav-link" href="service3.html">VẼ TRANH THEO YÊU CẦU</a></li>
    
                                
                            </ul>
                        </li>
                    </li>
                    <div class="header-icons d-flex align-items-center">
                        <a href="#" class="icon_items search-icon me-3">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="#" class="icon_items user-icon me-3" data-bs-toggle="modal" data-bs-target="#authModal">
                            <i class="fa fa-user"></i>
                        </a>
                        <!-- Quan trọng: cart-icon và cart-dropdown phải là parent-child -->
                        <div class="cart-icon position-relative">
                            <a href="#" class="icon_items position-relative">
                                <span class="price me-2">0đ</span>
                                <i class="fa fa-shopping-cart"></i>
                                <span class="cart-count">3</span>
                            </a>
                            <!-- Dropdown nằm trong cart-icon -->
                            <div class="cart-dropdown">
                                <div class="cart-empty">
                                    <p>Giỏ hàng của bạn hiện tại trống.</p>
                                </div>
                                <ul class="cart-items">
                                    <li class="cart-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpp4FpVhylNpwTVddcn3b0SHdb5ej8M7uvfQ&s" alt="Product 1" class="cart-item-img">
                                        <div class="cart-item-info">
                                            <p class="cart-item-name">Sản phẩm 1</p>
                                            <p class="cart-item-price">100đ</p>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpp4FpVhylNpwTVddcn3b0SHdb5ej8M7uvfQ&s" alt="Product 2" class="cart-item-img">
                                        <div class="cart-item-info">
                                            <p class="cart-item-name">Sản phẩm 2</p>
                                            <p class="cart-item-price">200đ</p>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpp4FpVhylNpwTVddcn3b0SHdb5ej8M7uvfQ&s" alt="Product 3" class="cart-item-img">
                                        <div class="cart-item-info">
                                            <p class="cart-item-name">Sản phẩm 3</p>
                                            <p class="cart-item-price">150đ</p>
                                        </div>
                                    </li>
                                    <li class="cart-total">
                                        <p><strong>Tổng cộng: 450đ</strong></p>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-primary cart-detail-btn">Xem chi tiết giỏ hàng</a>
                            </div>
                        </div>
                    </div>  
            </div>
        </nav>
    </div>

</header>
